.contentContainerDefault {
    padding-right: 5%;
    padding-left: 5%;
}

.form-group {
    margin-bottom: 40px;
}

.marginForSubmitButton {
    margin-bottom: 60px;
}

.submitReportButton {
    bottom: 0;
    position: absolute;
    left: 0;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    font-size: 20px;
}