
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'material.min';

@import 'dashboard';

@import 'default';

.navbar-laravel {
  background-color: #fff !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.14);
}

body {
  background: #f5f5f5;
}

.material-icons {
  font-size: 20px;
}
